/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: #9792e4;
    
}

h3{
    font-size: 25px;
}

h4{
    font-size: 23px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 70%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}

/* regole header */
header{
    background-color: #0084fd;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

header li{
    display: inline-block;
}

header a{
    color: #fff;
}

header .m-ctr{
    margin-left: 25px;
}

.btn{
    padding: 10px 30px;
    border-radius: 30px;
}

.btn.bg-white{
    background-color: #fff;
    color: black;
}



/* regole main */

main{
    margin: 125px 0 50px 0;
}

section{
    margin: 100px 0 ;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.card{
    width: calc(100% / 3 - 40px);
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 0 20px 20px 20px;
    padding: 30px;
}

.card.big{
    width: calc((100% / 3 - 20px) * 2);
    display: flex;
}

.card.big div{
    width: 50%;
}

.card.big p{
    margin: 40px 0;
}

.card.big a{
    color: #fff;
    background-color: #0084fd;
}

.card h3{
    color: #0084fd;
    margin: 30px 0;
}

.card.big img{
    height: 270px;
    padding: 0 50px;
    position: relative;
    bottom: -30px;
}

.center{
    text-align: center;
}

.card .big-icon{
    font-size: 80px;
    color: #0084fd ;
}

.full-bg{
    background-color: #9792e4;
}

.full-bg .planning{
    display: flex;
    justify-content: space-between;
}

.full-bg.different{
    padding: 0 125px;
}

.planning .col{
    width: 45%;
}

.planning .col.sx{
    color: #fff;
    margin: 120px 0 60px 0
}

.planning .col.sx img{
    margin-bottom: 120px;
    height: 375px;
}

.planning .col.sx h3{
    margin-bottom: 60px;
}

.planning .col.dx{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}

.planning .col.dx img{
    height: 240px;
}

.planning .col.dx a{
    color: black;
}

.planning .col.dx i{
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 50px;
    background-color: #9792e4;
    border-radius: 50%;
}

.planning .col.dx p{
    margin: 40px 0;
}

#testimonials h2{
    margin: 40px 0;
}

.feedback{
    background-color: #9792e4;
    margin: 50px 0;
    border: 1px solid #9792e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.feedback img{
    width: 370px;
    height: 250px;
    border-radius: 50%; 
    
}

.feedback p, .feedback span{
    color:  #fff;
}

.feedback .description{
    margin-left: 40px;
}

.feedback .description p{
    margin-bottom: 40px;
}

#white-title{
    color: #fff;
    padding: 40px 0;
}

.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    /* debug */
    /* min-height: 700px; */
}

.benefit{
    width: calc(100% / 3 - 30px);
    background-color: #fff;
    padding: 30px;
    margin: 15px;
    border-radius: 30px;
    /* debug */
    /* min-height: 250px; */
    border: 1px solid black;
}

.benefit h3{
    color: #9792e4;
}

.benefit h3{
    margin: 20px 0;
}

.violet{
    display: inline-block;
    background-color: #9792e4;
    color: white;
    margin-top: 20px;
}

#about-us{
    display: flex;
    justify-content: space-between;
}

.text-about{
    width: 60%;
}

.img-about{
    width: 30%;
}

.text-about .mg{
    margin: 40px 0;
}

.img-about img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

.quote{
    position: relative;
    top: 0;
    right: 0;
    
}
.img-about .fa-quote-left{
    display: inline-block;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 130px;
}

.img-about p{
    margin: 20px 0 ;
    font-size: 20px;
}


.txt-violet{
    color: #9792e4;
}

/* regole footer */
footer{
    background-color: #333333;
    color: #fff;
}



/****************** RESPONSIVE ************************/

