/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 23px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}

/* regole header */
header{
    background-color: #0084fd;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

header li{
    display: inline-block;
}

header a{
    color: #fff;
}

header .m-ctr{
    margin-left: 25px;
}

.btn{
    padding: 10px 15px;
    border-radius: 30px;
}

.btn.bg-white{
    background-color: #fff;
    color: black;
}

/* regole main */

main{
    margin: 125px 0 50px 0;
    /* debug */
}

section{
    margin: 100px 0 ;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.card{
    width: calc(100% / 3 - 40px);
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 0 20px 20px 20px;
    padding: 30px;
}

.card.big{
    width: calc((100% / 3 - 20px) * 2);
    display: flex;
}

.card.big div{
    width: 50%;
}

.card.big p{
    margin: 40px 0;
}

.card.big a{
    color: #fff;
    background-color: #0084fd;
}

.card h3{
    color: #0084fd;
    margin: 30px 0;
}

.card.big img{
    height: 270px;
    padding: 0 50px;
    position: relative;
    bottom: -30px;
}

.card .big-icon{
    font-size: 80px;
    color: #0084fd ;
}
.full-bg{
    background-color: #9792e4;
}

.full-bg .planning{
    display: flex;
    justify-content: space-between;
}

.full-bg.different{
    padding: 0 125px;
}

.full-bg .col img{
    /* debug */
    height: 380px;
}

.center{
    text-align: center;
}

.feedback{
    background-color: #9792e4;
    margin: 50px 0;
    border: 1px solid #9792e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* debug */
    min-height: 300px;
}

.feedback img{
    border-radius: 50%;
    width: 250px;
    
}

.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* debug */
    min-height: 700px;
}

.benefit{
    width: calc(100% / 3);
    background-color: #fff;
    /* debug */
    min-height: 250px;
    border: 1px solid black;
}

.about{
    display: flex;
    justify-content: space-between;
}

/* regole footer */
footer{
    background-color: #333333;
    color: #fff;
}



/****************** RESPONSIVE ************************/

